/******BASE*******/
body {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #ffffff;
}

h1 {
	text-align: center;
	margin-bottom: 45px; 
}

h3 {
	font-size: 1.3em;
}

p {
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-size: 1.1em;
}

span {
	color: #ffffff;
	font-size: 1.1em;
}

/*Center divs & items*/

.center { 
	position:relative; 
	display:block; 
	margin-left:auto; 
	margin-right:auto; 
}

.content-container {
	/*80 percent width of screen size*/
	width: 80vw;
	margin-bottom: 45px;
}

/******END BASE ******/

/*Navigation*/
.nav-bar {
	padding: 15px 0;
	height: 75px;
	background-color: rgba(38,38,38,0.7);
	width: 100%;
	margin-bottom: 45px;
}

	.nav-bar img {
		max-width: 35%;
		padding-left: 10px;
		padding-top: 5px;
	}

	.nav-bar a img {
		float: right;
		text-align: right;
		padding-top: 10px;
		padding-right: 10px;
	}

	/*Nav inner app pages*/
	.nav-bar-inner a img{
		padding: 0;
	}

/*Index page individual class item*/

.item {
 text-decoration: none;
 }

	.item div { 
		background-color: rgba(0,0,0,0.3);
		padding: 15px;
		box-sizing: border-box;
		margin:15px 0px;
		width:90%; 
		left:5%; 
		position:relative; 
	}

		.item h3 {
			margin-top: 0;
		}

		.item-note { 
			display:inline; 
			float:right; 
		}



/*****Basic Form Styling ******/

input {
	height: 50px;
	width: 100%;
	padding-left: 10px;
	font-size: 1.1em;
	margin-top: 15px;
	font-family: 'Lato', sans-serif;
}

select {
	width: 100%;
	height: 45px;
	padding-left: 10px;
	font-size: 1.1em;
	margin-top: 15px;
	font-family: 'Lato', sans-serif;
}

option {
	font-size: 1.1em;
}

label {
	font-size: 1.4em;
	margin-bottom: 15px;
	font-family: 'Lato', sans-serif;
}


/*AM and PM input*/
.time-value {
	font-size: 1.3em;
}

	.time-value input {
		width: 10%;
	}

.button-container {
	margin-top: 30px;
}
	.error {
		font-size: 1.4em;
		color: #FF0000;
		display: none;
	}

	.button {
		height: 50px;
		border-radius: 7px;
		width: 100%;
		border: none;
		background-color: #F23D4C;
		color: #ffffff;
		font-size: 1.5em;
		margin-bottom: 15px;
		font-family: 'Istok Web', sans-serif;
	}

/*****End Basic Form Styling ******/

/***** Footer ******/

.footer-bar {
	height: 75px;
	background-color: rgba(38,38,38,0.7);
	width: 100%;
}